*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar-brand img{
    width: 100%;
    height:auto;
}

.navbar .container-fluid{
    flex-direction:column;
}

.navbar-nav .nav-item .nav-link {
    color: lightslategrey;
    font-weight: 600;
    font-size: 15px;
}

.dropdown-menu {
    padding: 10px;
}

.section-one {
    background-image: url(img/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 500px;
    display: absolute;
}

.section-two {
    display: flex;
    margin-top: 20px;
    padding: 10px;

}